@model IEnumerable<Init.Models.Staff>

@{
    ViewBag.Title = "Index";
}

<h2>My Staff</h2>

<p>
    @Html.ActionLink("Create New", "CreateStaff", null, new { @class = "btn btn-primary btn-sm" })
</p>
<table class="table table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Age)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.City)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Age)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.City)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditStaff", new { id=item.Id }, new { @class = "btn btn-info btn-sm" }) 
            @Html.ActionLink("Details", "StaffDetails", new { id=item.Id }, new { @class = "btn btn-success btn-sm" }) 
            @Html.ActionLink("Delete", "DeleteStaff", new { id=item.Id }, new { @class = "btn btn-danger btn-sm" })
        </td>
    </tr>
}

</table>
